<div class="container intro">
  <div class="row justify-content-md-center align-items-center">
    <div class="col-xs-12 col-lg-5">
      <img src="assets/images/intro.jpg" class="img-fluid"/>
    </div>
    <div class="col-xs-12 col-lg-5">
      <h1>I bought a 2017 Mercedes Sprinter 170" EXT 4x4. I'm converting it into an off-grid adventure van.</h1>
    </div>
  </div>
</div>

<div class="container feed">
  <div class="row">
    {{#feed-entry}}
      {{feed-img
        url="assets/images/solar-mounted-2.jpg"}}

      <figcaption class="figure-caption">
        The angle is adhered to the roof with Sikaflex 221.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/solar-mounted.jpg"}}

      <figcaption class="figure-caption">
        I used 3x1 aluminum angle to mount the panels. I wanted to have access to the roof underneath for mainenance so I threw some butt hinges on one side.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/holding-tank-mounted.jpg"}}

      <figcaption class="figure-caption">
        I decided to mount the holding tank for the heating system where the OEM Aux battery was. The circulation pump is directly below it. It also includes a heating element for use when connected to mains.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/floor-installed.jpg"}}

      <figcaption class="figure-caption">
        Vinyl plank floor installed.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/custom-mattress.jpg"}}

      <figcaption class="figure-caption">
        I had a custom mattress made up to fit the contour of the flares. I'm really happy with the result.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/flare-finished.jpg"}}

      <figcaption class="figure-caption">
        I finished the flares with 1/8" closed cell foam followed by an interweave spray glued on top.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/window-cut.jpg"}}

      <figcaption class="figure-caption">
        Another hole cut for the sliding door window.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/bed-frame.jpg"}}

      <figcaption class="figure-caption">
        The cross bars were welded in place to the side rails. If I needed to I could simply unbolt the rails and pull the entire platform out.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/bed-rail-level.jpg"}}

      <figcaption class="figure-caption">
        I used 5/8 and 1/4-20 plusnuts to mount the aluminum angle bed rails to the van.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/bed-prep.jpg"}}

      <figcaption class="figure-caption">
        Determining exact height and mount locations.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/bed-materials.jpg"}}

      <figcaption class="figure-caption">
        This aluminum will eventually become my bed.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/swivels.jpg"}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/swivel-install.jpg"}}

      <figcaption class="figure-caption">
        Swivel seat install.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/insulation.jpg"}}

      <figcaption class="figure-caption">
        The insulation is in. I used 3M Thinsulate. It doubles as an excelent acoustic insulation.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/flares-installed-2.jpg"}}

      <figcaption class="figure-caption">
        My only concern is that they definitely attract attention. It'll be a bit harder to stealth camp with these.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/flares-installed.jpg"}}

      <figcaption class="figure-caption">
        Really impressed with how they turned out. The color matching is spot on.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/flares-installed-inside.jpg"}}

      <figcaption class="figure-caption">
        Unfinished flares installed from the inside.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/flares-installed-tape.jpg"}}

      <figcaption class="figure-caption">
        Once mounted and taped up, it took about 3 days for the glue to cure.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/flare-glue.jpg"}}

      <figcaption class="figure-caption">
        Glueing the flares. This is some nasty strong 3M adhesive.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/flares-cut-3.jpg"}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/flares-cut-2.jpg"}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/flares-cut.jpg"}}

      <figcaption class="figure-caption">
        This was actually a lot of fun.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/cutting-holes.jpg"}}

      <figcaption class="figure-caption">
        Cutting along the OEM window flange where the flares will be installed. I learned from my mistakes on the roof vents and invested in an air saw. It cuts like butter.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/floor-extension.jpg"}}

      <figcaption class="figure-caption">
        I used a rabbet joint to extend the floor halfway across the sliding door opening. The kitchen will be above it, and a bit of storage below.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/floor-puck-anchor.jpg"}}

      <figcaption class="figure-caption">
        Drilled a hole in the pucks and used some countersink fasteners to hold it all down.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/floor-install.jpg"}}

      <figcaption class="figure-caption">
        I used 1/4" closed cell foam as insulation underneath the OEM floor. I also layed some rubber matt within the deep floor grooves to help with noise reduction. I added a few more wood supports before laying the floor back down.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/floor-prep.jpg"}}

      <figcaption class="figure-caption">
        More floor prep. I filled any gaps around the pucks and sanded flush with the floor. Probably overkill, but the result was satisfying.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/floor-puck-prep.jpg"}}

      <figcaption class="figure-caption">
        I decided to keep the OEM floor as the sub-floor. I removed the tie downs and replaced them with marine ply pucks in order to bolt the floor down with the existing anchor points.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/solar-test-roof.jpg"
        alt="Test fitting 600W of solar on a sprinter van"}}

      <figcaption class="figure-caption">
        Test fitting the solar panels. Lots of room left on either side for rails or an awning.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/sprinter-4x4-winter.jpg"
        alt="Sprinter 4x4 in the snow"}}

      <figcaption class="figure-caption">
        A bit of winter 4x4.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/heating-system-mounted.jpg"
        alt="Rixens heating system"}}

      <figcaption class="figure-caption">
        I fit everything together out of the van first and did a few test runs to ensure I had a good understanding of how it works before trying to install it in the van. The gist of it is that a diesel fired furnace heats coolant which is circulated through a coolant-water heat exchanger for hot water, and then an air exchanger for climate control via a thermostat, and then the coolant is returned to the furnace to start the process over again.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/heating-system.jpg"
        alt="Rixens heating system"}}

      <figcaption class="figure-caption">
        This complicated looking bundle of stuff will provide me with on demand hot water, climate control, and tank and water line heating in cold climates.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/flares-painted.jpg"
        alt="Flarespace flares painted white"}}

      <figcaption class="figure-caption">
        The flares where color matched to the Mercedes white. Really impressed with how they turned out.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/flare-mount-raw-3.jpg"
        alt="Flarespace flares test fit"}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/flare-mount-raw-2.jpg"
        alt="Flarespace flares test fit"}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/flare-mount-raw.jpg"
        alt="Flarespace flares test fit"}}

      <figcaption class="figure-caption">
        Fitting the flares requires sanding just enough to reduce any gaps along the edges.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/flare-test.jpg"
        alt="Flarespace flares"}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/flares-raw.jpg"
        alt="Flarespace flares"}}

      <figcaption class="figure-caption">
        Flares are here! These will be mounted where the rearmost windows would go and will allow me to sleep across the van comfortably. They are made of fiberglass and came sanded and nearly paint ready.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/trailer.jpg"
        alt="Sprinter van with trailer"}}

      <figcaption class="figure-caption">
        I picked up a 6x10 trailer to avoid keeping storage units in various places. Instead I can now leave it in the general area I'll be staying. In the long run it should be far cheaper than the $160 I was paying for storage in multiple locations.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/dynamat-floor.jpg"
        alt="Sprinter van with dynamat"}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/dynamat.jpg"
        alt="Sprinter van with dynamat"}}

      <figcaption class="figure-caption">
        Sound deadening. I probably don't need this stuff at all considering the insulation that I'll be using, but it can't hurt in the more crucial areas. The difference it makes is incredible.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/hitch-installed.jpg"
        alt="Sprinter van rear hitch"}}

      <figcaption class="figure-caption">
        Trailer hitch installed.
      </figcaption>
    {{/feed-entry}}


    {{#feed-entry}}
      {{feed-img
        url="assets/images/toilet.jpg"
        alt="Thetford cassette toilet in a sprinter van."}}

      <figcaption class="figure-caption">
        I had a hard time deciding between the different toilet types, but opted for a euro style cassette toilet. It will have a door on the driver side of the van to access the cassette.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/dashcam.jpg"
        alt="Sprinter van with garmin dashcam"}}

      <figcaption class="figure-caption">
        Dashcam installed. It's wired with a relay to both accessory and live 12v. This allows the parking mode function which will continue to record after the van has turned off, but not long enough that the starter battery is drained.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/solar-plan.jpg"
        alt="Solar plan for sprinter van"}}

      <figcaption class="figure-caption">
        Initial plan for solar. I ended up with only 6 x 100W panels. The 6th 100 fit perfecly at the back behind the rear fan.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/fans-opened.jpg"
        alt="Sprinter van with two maxxfans opened."}}

      <figcaption class="figure-caption">
        A shot with the two fans in the open position. These can be open while driving and while it's raining.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/fans-installed.jpg"
        alt="Sprinter van with two maxxfans installed."}}

      <figcaption class="figure-caption">
        Fans Installed!
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/fan-supports.jpg"
        alt="MaxxFan install from inside sprinter van"}}

      <figcaption class="figure-caption">
        Used some wood for a little extra support. The ceiling and fan shouds will cover this entirely eventually.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/fan-cut.jpg"
        alt="Head through hole in sprinter van roof."}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/fan-cut-close.jpg"
        alt="Sprinter roof MaxxFan install cut."}}

      <figcaption class="figure-caption">
        This was stressful. I didn't have my air saw at this point, which makes cutting holes like this a breeze.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/fan-cut-prep.jpg"
        alt="Sprinter roof cutting prep."}}

      <figcaption class="figure-caption">
        Catching the metal shavings from cutting the fan holes.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/maxx-fans.jpg"
        alt="Two MaxxFans"}}

      <figcaption class="figure-caption">
        Intake/Exhaust fans. Was initially only going to have one, but I'm definitely not having AC, and two will really help with climate control in hot weather.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/grinding-bracket.jpg"
        alt="Sprinter removing light bracket"}}

      <figcaption class="figure-caption">
        The two roof interior light brackets being removed. The hang too low and will get in the way of ceiling panels, and removing them will also make fan installs easier.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/bed-mock-long.jpg"
        alt="Sprinter platform bed mock"}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/bed-mock.jpg"
        alt="Sprinter platform bed mock"}}

      <figcaption class="figure-caption">
        Mocking up the bed space. The trick is to have enough height to fit stuff underneath, as well as enough to sit up straight in the bed.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/divider-out.jpg"
        alt="Sprinter cab divider"}}

      <figcaption class="figure-caption">
        This thing is awkward and heavy.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/without-divider.jpg"
        alt="Sprinter without cab divider"}}

      <figcaption class="figure-caption">
        Divider removed.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/with-divider.jpg"
        alt="Sprinter with cab divider"}}

      <figcaption class="figure-caption">
        The cab divider needs to be removed. Plan is for the seats to swivel to expand the hangout space.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/intro.jpg"
        alt="Sprinter 170 EXT 4x4"}}

      <figcaption class="figure-caption">
        20 minutes after purchase. I'm smiling because I had no idea how much work I had created for myself.
      </figcaption>
    {{/feed-entry}}
  </div>
</div>

