<!-- ffmpeg -i ./flare-cut.mov -s 480x270 -pix_fmt rgb24 -r 15 -f gif - | gifsicle --optimize=3 --delay=3 > flare-cut.gif -->

<div class="container intro">
  <div class="row justify-content-md-center align-items-center">
    <div class="col-xs-12 col-lg-5">
      <img src="assets/images/intro.jpg" class="img-fluid"/>
    </div>
    <div class="col-xs-12 col-lg-5">
      <h1>I bought a 2017 Mercedes Sprinter 170" EXT 4x4. I'm converting it into an off-grid adventure van.</h1>
      <p>Get in touch at hola[at]andybas[dot]com</p>
    </div>
  </div>
</div>

<div class="container feed">
  <div class="row">

    {{#feed-entry}}
      {{feed-img
        url="assets/images/electrical-test-camping.jpg"}}

      <figcaption class="figure-caption">
        Took a little road trip to test out the fridge and electrical install. Nothing beats returning to cold beer after a day on the trails.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/120v-outlet.jpg"}}

      <figcaption class="figure-caption">
        The cabinet allowed me to wire up a GFCI outlet and avoid running an extension cord out to the van.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/panel-face-installed.jpg"}}

      <figcaption class="figure-caption">
        For a temporary panel built in a day, it turned out well. From top to bottom, left to right: 120v inverted distribution, 120v shore power only distribution, 12v distribution, inverter control panel, light switches (fed from 12v switch panel), furnace control, light dimmer, battery monitor, battery to battery charger monitor, thermostat (since replaced with a digital version).
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/forward-panel-cutouts.jpg"}}

      <figcaption class="figure-caption">
        But cutting it out with a jigsaw was even worse.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/forward-panel-layout.jpg"}}

      <figcaption class="figure-caption">
        Drawing the layout was super tediuous.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/forward-panel-temporary.jpg"}}

      <figcaption class="figure-caption">
        I decided to make a temporary electrical switch panel cabinet. This helps me decide on a final overhead cabinet size and build technique. It also lets me wire up the inverter breakers and anything else that needs to be switched.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/fridge-installed.jpg"}}

      <figcaption class="figure-caption">
        Fridge installed.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/fridge-frame-complete.jpg"}}

      <figcaption class="figure-caption">
        I should have made the shower and fridge frame all at once, but I didn't have the fridge at the time. The aluminum is too light to really make a difference in weight anyway.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="https://thumbs.gfycat.com/GrossImaginaryCoqui-size_restricted.gif"}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/fridge-welding.jpg"}}

      <figcaption class="figure-caption">
        Welding up the fridge frame.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/fridge-positioning.jpg"}}

      <figcaption class="figure-caption">
        Deciding on fridge position. The fridge has an external compressor which gives more space inside. It will be mounted under the fridge with a drawer for kitchen accessories in front.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/pine-experiment.jpg"}}

      <figcaption class="figure-caption">
        I experimented with several combinations of stains and white wash mixtures before settling on a simple 1:1 white latex paint white wash (far left).
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/pine-whitewash.jpg"}}

      <figcaption class="figure-caption">
        I'm going to use white washed 5/16" pine tongue and groove panels for the ceiling. I prefer to have a subtle wood grain than something plain.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/amp-platform-installed.jpg"}}

      <figcaption class="figure-caption">
        I used some baltic birch and laminate for the platform. If maintenance is necessary, it would only take about 10 minutes to gain access to the batteries.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/amp-frame-welding.jpg"}}

      <figcaption class="figure-caption">
        Welding up an aluminum support for the amp to sit above the batteries. This will also act as part of the outside wall of the cabinet that hides all the electrical.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/solar-stats.png"}}

      <figcaption class="figure-caption">
        The Victron products give cool insight into how the solar panels are performing.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/front-panel-wires.jpg"}}

      <figcaption class="figure-caption">
        There were wires bouncing around everywhere for a while.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/rear-panel-layout-wide.jpg"}}

      <figcaption class="figure-caption">
        I was able to mount the panel for hopefully the final time once all wires were roughed in.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/rear-panel-wires.jpg"}}

      <figcaption class="figure-caption">
        I chose to mount the stereo amp at the rear, so I had to run all the speaker and stereo wires before installing the panel.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/speaker-wire-routing.jpg"}}

      <figcaption class="figure-caption">
        I ran new speaker wire to the door panels while I had everything apart.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/wiring-routing-cab.jpg"}}

      <figcaption class="figure-caption">
        I used the wire glands under the seat and behind the dash fuse panel to run wires to the furnace under the van and the coolant pump and tank under the hood.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/oem-ground.jpg"}}

      <figcaption class="figure-caption">
        To use only the Mercedes factory approved chasis ground point, I had to run a 1/0 wire through the wall cavity below the floor and along the frame rails until a bit forward of the rear axle. It wasn't cheap.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/electrical-panel-layout.jpg"}}

      <figcaption class="figure-caption">
        Determining the layout involved removing and replacing the awkward panel far too many times.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/battery-cables.jpg"}}

      <figcaption class="figure-caption">
        I decided to buy a hydraulic lug crimper instead of measuring and outsourcing. This made everything go much quicker.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/inlet-connected.jpg"}}

      <figcaption class="figure-caption">
        The 90 degree plug helps reduce strain on the inlet from the weight of the cable.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/inlet-wide-view.jpg"}}

      <figcaption class="figure-caption">
        It definitely isn't stealth anymore.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/inlet-open.jpg"}}

      <figcaption class="figure-caption">
        It would have been more logical to place it on the passenger side, but I'm trying to follow the Canadian RV regulations, which requires it to be on the driver side.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/inlet-closed.jpg"}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/inlet-wiring.jpg"}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/inlet-hole.jpg"}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="https://thumbs.gfycat.com/ConfusedAnimatedDungbeetle-size_restricted.gif"}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/inlet-pilot.jpg"}}

      <figcaption class="figure-caption">
        Installing the 30A shore power inlet in order to route the wires over to the panel.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/electrical-panel.jpg"}}

      <figcaption class="figure-caption">
        To begin the electrical install, I made a mounting panel out of 1/2" baltic birch with a sheet of Formica Color Core 2 laminate over top. The laminate wasn't necessary, but I wanted to test the process for future applications.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/winter-bypass-installed.jpg"}}

      <figcaption class="figure-caption">
        It's tough to see exactly what's going on, but after the air exchanger, the coolant lines branch off through the floor and then back up to connect to the return line that carries the coolant back to the furnace.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/winter-bypass-valves.jpg"}}

      <figcaption class="figure-caption">
        It's not the prettiest, but this will allow me to isolate a winter loop in the coolant system. Two lines are run down through the floor and can be looped around tanks and water lines to help keep them from freezing in the winter. I'll add more redundancy to my winterization effort, but this is a solid start.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/air-exchanger-mount.jpg"}}

      <figcaption class="figure-caption">
        The air exchanger for the furnace is mounted to the side of the shower where it is most convenient to connect up to the coolant lines coming out of the wall.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/water-running.jpg"}}

      <figcaption class="figure-caption">
        I tested around 2.6 GPM of flow.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/water-complete.jpg"}}

      <figcaption class="figure-caption">
        It was a struggle to fit everything into such a tight space. So far, no leaks!
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/pex-runs.jpg"}}

      <figcaption class="figure-caption">
        These will supply the kitchen. Hot and cold are also run to the back of the van for a wash down port as well as up to the top of the shower.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/pex-grommets.jpg"}}

      <figcaption class="figure-caption">
        Where possible I tried to run the pex lines through the walls. The process of drilling and installing grommets in such a tight space is tiring.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/pressure-regulator.jpg"}}

      <figcaption class="figure-caption">
        I decided to mount a pressure regulator inside the van to avoid any chance of accidentally forgetting to use it when filling up. I ran a high pressure hose from the inlet to the regulator and then in to pex from there.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/water-filters-mount.jpg"}}

      <figcaption class="figure-caption">
        I mounted some aluminum to the wall for supporting the filter bracket and eventually the water pump.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/water-filters.jpg"}}

      <figcaption class="figure-caption">
        I'll be running all water after the water pump through this triple canister filter system by ClearsourceRV. Check them out for more details on the filters used.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/water-hookup-installed.jpg"}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/water-hookup-installed-inside.jpg"}}

      <figcaption class="figure-caption">
        After the water enters through this port, it will also branch off through the floor and in to the water tank, controlled by a valve underneath the van. This is in place of having a second water fill port and gives me some freedom in positioning the tank and water entry in relation to each other.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/water-hookup-cut-inside.jpg"}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/water-hookup-cut.jpg"}}

      <figcaption class="figure-caption">
        Where possible, I'd like to avoid running water lines below the van to reduce risks in the winter.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/water-hookup-template-outside.jpg"}}

      <figcaption class="figure-caption">

      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/water-hookup-template-inside.jpg"}}

      <figcaption class="figure-caption">
        Positioning the water entry hatch template inside and drilling a hole to match it up on the outside.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/wifi-extender.jpg"}}

      <figcaption class="figure-caption">
        The Redport Halo wifi extender. A router is used inside the van to create a local WiFi hotspot and repeat a local network signal acquired by the antenna.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/wifi-cable-clam.jpg"}}

      <figcaption class="figure-caption">
        I used a marine cable clam to have the P.O.E. cable enter the van through the roof.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/wifi-mount.jpg"}}

      <figcaption class="figure-caption">
        Installing the base for the wifi antenna mount.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/toilet-door-open.jpg"}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/toilet-door-inside.jpg"}}

      <figcaption class="figure-caption">
        Once the toilet is installed, none of this will be seen from the inside or outside. The plumbing and electrical will enter the back of the toilet through the inside of the wall.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/toilet-door.jpg"}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/toilet-door-frame.jpg"}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/toilet-door-cut.jpg"}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/toilet-door-template.jpg"}}

      <figcaption class="figure-caption">
        The door came with a template to make positioning the door between the inside and outside fairly easy.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/toilet-wall.jpg"}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/toilet-support-cut.jpg"}}

      <figcaption class="figure-caption">
        The cassette toilet uses a door on the outside of the van to access the cassette. I had to cut out the wall support to make room for the door.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/heater-hose-grommets.jpg"}}

      <figcaption class="figure-caption">
        Grommets in place for the furnace heater hoses that enter behind the driver seat and run through the walls to the other side of the shower where they will connect to the various heat exchangers.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/stereo-gear.jpg"}}

      <figcaption class="figure-caption">
        I'll be replacing the two front speakers, as well as installing two in the rear doors, two in the center of the van, a sub, an amp, and a new head unit.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/fridge-location.jpg"}}

      <figcaption class="figure-caption">
        The Vitrifrigo fridge will be mounted about 16" off the ground next to the shower front wall. The compressor will go underneath with a drawer in front of it for kitchen supplies.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/shower-frame-outside.jpg"}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/shower-frame-building.jpg"}}

      <figcaption class="figure-caption">
        Connecting the shower walls together. The shower will be roughly 40" wide and 24" deep.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/shower-frame-walls.jpg"}}

      <figcaption class="figure-caption">
        These will be the side walls of the shower enclosure.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/step-box.jpg"}}

      <figcaption class="figure-caption">
        Experimenting to see how I'll build frames for the cabinets and shower enclosure.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/bike-test.jpg"}}

      <figcaption class="figure-caption">
        I'll hang one bike on the inside of the driver side rear door. There will be an arm that extends out from the door to hold the lower portion of the bike in place.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/solar-complete.jpg"}}

      <figcaption class="figure-caption">
        The external portion of the solar install is done.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/solar-entry.jpg"}}

      <figcaption class="figure-caption">
        Solar cable entry into the van. Inside the enclosure is a ~1" hole with a rubber grommet.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/solar-wired.jpg"}}

      <figcaption class="figure-caption">
        The panels are wired up in series-parallel with 2 groups of 3 100W panels.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/solar-up.jpg"}}

      <figcaption class="figure-caption">
        Wiring up the panels. Really happy with the decision to put the panels on hinges for easy access.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="https://thumbs.gfycat.com/NervousPleasedAstrangiacoral-size_restricted.gif"}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/solar-mounted-2.jpg"}}

      <figcaption class="figure-caption">
        The angle is adhered to the roof with Sikaflex 221.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/solar-mounted.jpg"}}

      <figcaption class="figure-caption">
        I used 3x1 aluminum angle to mount the panels. I wanted to have access to the roof underneath for mainenance so I threw some butt hinges on one side.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/holding-tank-mounted.jpg"}}

      <figcaption class="figure-caption">
        I decided to mount the holding tank for the heating system where the OEM Aux battery was. The circulation pump is directly below it. It also includes a heating element for use when connected to mains.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/floor-installed.jpg"}}

      <figcaption class="figure-caption">
        Vinyl plank floor installed.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/custom-mattress.jpg"}}

      <figcaption class="figure-caption">
        I had a custom mattress made up to fit the contour of the flares. I'm really happy with the result.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="https://thumbs.gfycat.com/AromaticFrenchEquine-size_restricted.gif"}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/flare-finished.jpg"}}

      <figcaption class="figure-caption">
        I finished the flares with 1/8" closed cell foam followed by an interweave spray glued on top.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="https://thumbs.gfycat.com/IncompleteYoungAfricanparadiseflycatcher-size_restricted.gif"}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/window-cut.jpg"}}

      <figcaption class="figure-caption">
        Another hole cut for the sliding door window.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/bed-frame.jpg"}}

      <figcaption class="figure-caption">
        The cross bars were welded in place to the side rails. If I needed to I could simply unbolt the rails and pull the entire platform out.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/bed-rail-level.jpg"}}

      <figcaption class="figure-caption">
        I used 5/8 and 1/4-20 plusnuts to mount the aluminum angle bed rails to the van.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/bed-prep.jpg"}}

      <figcaption class="figure-caption">
        Determining exact height and mount locations.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/bed-materials.jpg"}}

      <figcaption class="figure-caption">
        This aluminum will eventually become my bed.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/swivels.jpg"}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/swivel-install.jpg"}}

      <figcaption class="figure-caption">
        Swivel seat install.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/insulation.jpg"}}

      <figcaption class="figure-caption">
        The insulation is in. I used 3M Thinsulate. It doubles as an excelent acoustic insulation.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/flares-installed-2.jpg"}}

      <figcaption class="figure-caption">
        My only concern is that they definitely attract attention. It'll be a bit harder to stealth camp with these.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/flares-installed.jpg"}}

      <figcaption class="figure-caption">
        Really impressed with how they turned out. The color matching is spot on.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/flares-installed-inside.jpg"}}

      <figcaption class="figure-caption">
        Unfinished flares installed from the inside.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/flares-installed-tape.jpg"}}

      <figcaption class="figure-caption">
        Once mounted and taped up, it took about 3 days for the glue to cure.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/flare-glue.jpg"}}

      <figcaption class="figure-caption">
        Glueing the flares. This is some nasty strong 3M adhesive.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/flares-cut-3.jpg"}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/flares-cut-2.jpg"}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/flares-cut.jpg"}}

      <figcaption class="figure-caption">
        This was actually a lot of fun.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="https://thumbs.gfycat.com/EqualConventionalHarrier-small.gif"}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/cutting-holes.jpg"}}

      <figcaption class="figure-caption">
        Cutting along the OEM window flange where the flares will be installed. I learned from my mistakes on the roof vents and invested in an air saw. It cuts like butter.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/floor-extension.jpg"}}

      <figcaption class="figure-caption">
        I used a rabbet joint to extend the floor halfway across the sliding door opening. The kitchen will be above it, and a bit of storage below.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/floor-puck-anchor.jpg"}}

      <figcaption class="figure-caption">
        Drilled a hole in the pucks and used some countersink fasteners to hold it all down.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/floor-install.jpg"}}

      <figcaption class="figure-caption">
        I used 1/4" closed cell foam as insulation underneath the OEM floor. I also layed some rubber matt within the deep floor grooves to help with noise reduction. I added a few more wood supports before laying the floor back down.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/floor-prep.jpg"}}

      <figcaption class="figure-caption">
        More floor prep. I filled any gaps around the pucks and sanded flush with the floor. Probably overkill, but the result was satisfying.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/floor-puck-prep.jpg"}}

      <figcaption class="figure-caption">
        I decided to keep the OEM floor as the sub-floor. I removed the tie downs and replaced them with marine ply pucks in order to bolt the floor down with the existing anchor points.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/solar-test-roof.jpg"
        alt="Test fitting 600W of solar on a sprinter van"}}

      <figcaption class="figure-caption">
        Test fitting the solar panels. Lots of room left on either side for rails or an awning.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/sprinter-4x4-winter.jpg"
        alt="Sprinter 4x4 in the snow"}}

      <figcaption class="figure-caption">
        A bit of winter 4x4.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/heating-system-mounted.jpg"
        alt="Rixens heating system"}}

      <figcaption class="figure-caption">
        I fit everything together out of the van first and did a few test runs to ensure I had a good understanding of how it works before trying to install it in the van. The gist of it is that a diesel fired furnace heats coolant which is circulated through a coolant-water heat exchanger for hot water, and then an air exchanger for climate control via a thermostat, and then the coolant is returned to the furnace to start the process over again.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/heating-system.jpg"
        alt="Rixens heating system"}}

      <figcaption class="figure-caption">
        This complicated looking bundle of stuff will provide me with on demand hot water, climate control, and tank and water line heating in cold climates.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/flares-painted.jpg"
        alt="Flarespace flares painted white"}}

      <figcaption class="figure-caption">
        The flares where color matched to the Mercedes white. Really impressed with how they turned out.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/flare-mount-raw-3.jpg"
        alt="Flarespace flares test fit"}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/flare-mount-raw-2.jpg"
        alt="Flarespace flares test fit"}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/flare-mount-raw.jpg"
        alt="Flarespace flares test fit"}}

      <figcaption class="figure-caption">
        Fitting the flares requires sanding just enough to reduce any gaps along the edges.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/flare-test.jpg"
        alt="Flarespace flares"}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/flares-raw.jpg"
        alt="Flarespace flares"}}

      <figcaption class="figure-caption">
        Flares are here! These will be mounted where the rearmost windows would go and will allow me to sleep across the van comfortably. They are made of fiberglass and came sanded and nearly paint ready.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/trailer.jpg"
        alt="Sprinter van with trailer"}}

      <figcaption class="figure-caption">
        I picked up a 6x10 trailer to avoid keeping storage units in various places. Instead I can now leave it in the general area I'll be staying. In the long run it should be far cheaper than the $160 I was paying for storage in multiple locations.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/dynamat-floor.jpg"
        alt="Sprinter van with dynamat"}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/dynamat.jpg"
        alt="Sprinter van with dynamat"}}

      <figcaption class="figure-caption">
        Sound deadening. I probably don't need this stuff at all considering the insulation that I'll be using, but it can't hurt in the more crucial areas. The difference it makes is incredible.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/hitch-installed.jpg"
        alt="Sprinter van rear hitch"}}

      <figcaption class="figure-caption">
        Trailer hitch installed.
      </figcaption>
    {{/feed-entry}}


    {{#feed-entry}}
      {{feed-img
        url="assets/images/toilet.jpg"
        alt="Thetford cassette toilet in a sprinter van."}}

      <figcaption class="figure-caption">
        I had a hard time deciding between the different toilet types, but opted for a euro style cassette toilet. It will have a door on the driver side of the van to access the cassette.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/dashcam.jpg"
        alt="Sprinter van with garmin dashcam"}}

      <figcaption class="figure-caption">
        Dashcam installed. It's wired with a relay to both accessory and live 12v. This allows the parking mode function which will continue to record after the van has turned off, but not long enough that the starter battery is drained.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/solar-plan.jpg"
        alt="Solar plan for sprinter van"}}

      <figcaption class="figure-caption">
        Initial plan for solar. I ended up with only 6 x 100W panels. The 6th 100 fit perfecly at the back behind the rear fan.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/fans-opened.jpg"
        alt="Sprinter van with two maxxfans opened."}}

      <figcaption class="figure-caption">
        A shot with the two fans in the open position. These can be open while driving and while it's raining.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/fans-installed.jpg"
        alt="Sprinter van with two maxxfans installed."}}

      <figcaption class="figure-caption">
        Fans Installed!
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/fan-supports.jpg"
        alt="MaxxFan install from inside sprinter van"}}

      <figcaption class="figure-caption">
        Used some wood for a little extra support. The ceiling and fan shouds will cover this entirely eventually.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/fan-cut.jpg"
        alt="Head through hole in sprinter van roof."}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/fan-cut-close.jpg"
        alt="Sprinter roof MaxxFan install cut."}}

      <figcaption class="figure-caption">
        This was stressful. I didn't have my air saw at this point, which makes cutting holes like this a breeze.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/fan-cut-prep.jpg"
        alt="Sprinter roof cutting prep."}}

      <figcaption class="figure-caption">
        Catching the metal shavings from cutting the fan holes.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/maxx-fans.jpg"
        alt="Two MaxxFans"}}

      <figcaption class="figure-caption">
        Intake/Exhaust fans. Was initially only going to have one, but I'm definitely not having AC, and two will really help with climate control in hot weather.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/grinding-bracket.jpg"
        alt="Sprinter removing light bracket"}}

      <figcaption class="figure-caption">
        The two roof interior light brackets being removed. The hang too low and will get in the way of ceiling panels, and removing them will also make fan installs easier.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/bed-mock-long.jpg"
        alt="Sprinter platform bed mock"}}

      <figcaption class="figure-caption">
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/bed-mock.jpg"
        alt="Sprinter platform bed mock"}}

      <figcaption class="figure-caption">
        Mocking up the bed space. The trick is to have enough height to fit stuff underneath, as well as enough to sit up straight in the bed.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/divider-out.jpg"
        alt="Sprinter cab divider"}}

      <figcaption class="figure-caption">
        This thing is awkward and heavy.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/without-divider.jpg"
        alt="Sprinter without cab divider"}}

      <figcaption class="figure-caption">
        Divider removed.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/with-divider.jpg"
        alt="Sprinter with cab divider"}}

      <figcaption class="figure-caption">
        The cab divider needs to be removed. Plan is for the seats to swivel to expand the hangout space.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      {{feed-img
        url="assets/images/intro.jpg"
        alt="Sprinter 170 EXT 4x4"}}

      <figcaption class="figure-caption">
        20 minutes after purchase. I'm smiling because I had no idea how much work I had created for myself.
      </figcaption>
    {{/feed-entry}}
  </div>
</div>

